<form action="#" class="courses_add_form">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label courses_add_item">
        <input class="mdl-textfield__input" type="text" id="title" ng-model="coursesAdd.course.name" required>
        <label class="mdl-textfield__label" for="title">课程名</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label courses_add_item">
        <input class="mdl-textfield__input" type="text" id="teacher" ng-model="coursesAdd.course.teacher" required>
        <label class="mdl-textfield__label" for="teacher">教师</label>
    </div>
    <div>课程主分类</div>
    <select class="courses_add_item courses_add_item_select" 
    id="main_cat" ng-model="coursesAdd.course.category_id" convert-to-number required >
        <option value="1">公共课</option>
        <option value="2">通识课</option>
        <option value="3">专业课</option>
        <option value="4">素质课</option>
    </select>
    <div>二级分类</div>
    <select class="courses_add_item courses_add_item_select" id="sub_cat" 
    ng-model="coursesAdd.course.sub_category_id" convert-to-number required>
        <option value="1">通识核心课</option>
        <option value="2">通识选修课</option>
    </select>
    <div>通识学分类别</div>
    <select class="courses_add_item courses_add_item_select" id="type_id" 
    ng-model="coursesAdd.course.type_id" convert-to-number required>
        <option value="1">理科</option>
        <option value="2">文科</option>
        <option value="3">艺体</option>
        <option value="4">教育</option>
    </select>
    <div class="mdl-button mdl-js-button mdl-button--raised" ng-click="coursesAdd.submit()">提交</div>
</form>
