/**
 * course.css
 * by zindex
 */

/**
 * courses main
 */
.courses_main{
	width: 100%;
	height: 99%;
	box-sizing:border-box;
	padding-top: 86px;
	position: relative;
	
}

/**
 * courses_list
 */
.courses_list{
	width: 80%;
	margin: 0 auto;
}
.courses_table{
	width: 100%;
}
.courses_list_icon_edit a{
	color:rgba(0,0,0,.87);
}
.courses_list_icon_edit a:hover,
.courses_list_icon_delete i:hover,
.courses_list_icon_comment i:hover{
	color: #ff4081;
}
.courses_list_icon_delete i,
.courses_list_icon_comment i{
	cursor: pointer;
}


/**
 * dialog compomnent
 */
.courses_dialog{
	width: 320px;
  height: 320px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%);
}
.courses_dialog_img{
	background-image: url('http://7oxh2b.com1.z0.glb.clouddn.com/litte_man.png');
	background-size: cover;
}

/**
 * courses_add
 */
.courses_add_form{
	display: block;
	width: 300px;
	margin: 0 auto;
}
.courses_add_item{
	display: block;
}
.courses_add_item_select{
	margin-bottom: 20px;
}