<div class="main_head mdl-color--blue-grey">
    <div class="p-20">
        <h3 class="mdl-color-text--white m-t-20 m-b-5">用户列表</h3>
    </div>
</div>
<div class="mdl-grid mdl-grid--no-spacing main_content">
    <div class="mdl-cell mdl-cell--3-col mdl-color--grey-100">
        <select ng-model="usersList.roleId" 
        ng-change="usersList.onRoleIdChange()">
            <option value="2">管理员</option>
            <option value="3">用户</option>
        </select>
    </div>
    <div class="mdl-cell mdl-cell--9-col">
        <div class="main_content_table">
            <table class="mdl-data-table mdl-js-data-table  mdl-shadow--2dp">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>用户名</th>
                        <th>邮箱</th>
                        <th>QQ</th>
                        <th>手机</th>
                        <th>专业</th>
                        <th>删除</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="user in usersList.users">
                        <td>{{ user.id }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.qq }}</td>
                        <td>{{ user.phone }}</td>
                        <td>{{ user.major }}</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
