<div class="courses_dialog courses_list_dialog_delete mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title mdl-card--expand courses_dialog_img">
    </div>
    <div class="mdl-card__supporting-text">
        确认删除{{ dialogDelete.title }}？
    </div>
    <div class="mdl-card__actions mdl-card--border">
        <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" ng-click="dialogDelete.onDeleteCancel()">
            取消
        </button>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" ng-click="dialogDelete.onDeleteConfirm()">
            删除
        </button>
    </div>
</div>