<form action="#" class="courses_add_form">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label courses_add_item">
        <input class="mdl-textfield__input" type="text" id="title" ng-model="tipsAdd.tip.title" required>
        <label class="mdl-textfield__label" for="title">标题</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label courses_add_item">
        <input class="mdl-textfield__input" type="text" id="author" ng-model="tipsAdd.tip.author" required>
        <label class="mdl-textfield__label" for="author">作者</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label courses_add_item">
        <input class="mdl-textfield__input" type="text" id="img_url" ng-model="tipsAdd.tip.img_url" required>
        <label class="mdl-textfield__label" for="img_url">运营图链接</label>
    </div>
    <div>
      <label class="mdl-textfield__label" for="body">正文</label>
    	<textarea id="body" cols="30" rows="10" ng-model="tipsAdd.tip.body">
    	</textarea>
    </div>
    <div class="mdl-button mdl-js-button mdl-button--raised" ng-click="tipsAdd.submit()">提交</div>
</form>